@import "~antd/lib/style/themes/default.less";

.extraContent {
  > * {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.extraContentSearch {
  width: 16rem;
}

.assignmentTitle {
  font-size: 1.3rem;
  margin-right: 1rem;
}

.badgeStatus {
  :global {
    .ant-badge-status-processing {
      background-color: @blue-6;
    }
  }
}

.listItem {
  border-bottom: none !important;
}
