.cardWrapper {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
}

.avatar {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    flex-grow: 0;
}

.metaWrapper {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.total {
    font-size: 1.8rem;
    margin-top: 4px;
}

.action {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.icon {
    margin-right: .5rem;
}
