.container {
  position: relative;
  min-height: 100vh;
  padding: 10rem 0 10rem 0;
}

.inner {
  box-shadow: 0 5px 2rem rgba(92, 92, 92, 0.51);
  background-color: white;
  width: 20rem;
  margin: 0 auto;
  padding: 1rem;
}
