
.titleWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  > * {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    > * {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0rem;
      }
    }
  }
}
